body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 100%;
    line-height: 85px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bolder;
    position: relative;
    left: 287px;
    background-color: lightblue;
}

ul {
    margin: 0;
}

nav {
    display: inline-block;
    width: 400px;
    height: 100%;
    position: relative;
    left: 775px;
}

li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

a:link,
a:visited {
    text-decoration: none;
    color: grey;
    transition: color 0.1s, font-weight 0.1s, border-bottom 0.1s;
}

a:hover,
a:active {
    color: teal;
    font-weight: bolder;
    margin-bottom: 5px;
    border-bottom: 2px solid teal;
}

li:nth-child(2)::before {
    content: "|";
    color: lightgrey;
    margin-right: 20px;
}

li:nth-child(2)::after {
    content: "|";
    color: lightgrey;
    margin-left: 20px;
}

.active {
    color: teal;
    font-weight: bolder;
}

.main {
    width: 960px;
    margin: 50px auto;
    background-color: white;
    padding: 30px 30px;
    box-sizing: border-box;
}

hr {
    margin-bottom: 15px;
}

#me {
    margin: 0 30px 10px 0;
    float: left;
    height: 200px;
    width: 200px;
}

fieldset {
    border: none;
}

#name, #email, #message {
    margin-bottom: 10px;
    width: 100%;
}

#message {
    height: 200px;
}

input[type=text], input[type=email] {
    padding-left: 5px;
}

.main-portfolio {
    height: 850px;
    margin-bottom: 50px;
}

.app-grid {
    margin: 0;
    width: 500px;
    height: 720px;
}

.app-thumbnail {
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
}

.overlay {
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    height: 200px;
    width: 200px;
    color: red;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    z-index: 100;
    transition: background-color 0.5s;
}

.app-img {
    position: relative;
    top: -200px;;
}

.overlay:hover {
    opacity: 0.5;
    background-color: white;
    z-index: 100;
    cursor: pointer;
}

.overlay:hover .app-img {
    opacity: 0.1;
}

.app-name {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: teal;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding-top: 15px;
    top: -260px;
}

footer {
    box-sizing: border-box;
    clear: both;
    overflow: auto;
    background-color:darkgray;
    height: 50px;
    width: 100vw;;
    text-align: center;
    position: fixed;
    top: calc(100vh - 50px);
    padding-top: 15px;
    border-top: 4px solid teal;
    z-index: 200;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }